body {
background-size: cover;
background-repeat: no-repeat;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#choices li, #answer li {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    
}

.disabled {
    opacity: 0.3;
}

#choices li {
    background-color: rosybrown;
    border-style: outset;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
   }

#score, #sCore {
    background-color: darkred;
    }

div {
    text-align: center;
    font-size: large;
}

#letterschoice {
    text-align: justify;    
}

#answer, h1 {
   background-color: linen; 
   opacity: 0.7;
   border-radius: 5px;
   }

h1 {
    text-align: center;
    color: red;
}





